<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Home Page</title>
</head>

<body>
    <section class="sections">
        <h1>
            <%= title %>
        </h1>
    
        <h4>Welcome to your notes page, click one of the next buttons:</h4>
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ln"><button class="glow-on-hover" type="button">Leave a Note</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rn"><button class="glow-on-hover" type="button">Read Notes</button></a>
            </li>
        </ul>

    </section>

</body>

</html>